<!-- Script Section -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <p class="text-sm-start my-0">
      &copy; Copyright 2022. All Rights reserved. 
    </p>
  </nav>
</footer>

<script src="/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>