<!-- Main Navigation -->
<nav class="navbar navbar-expand-lg main">
  

  <a class="navbar-brand" href="/">
    <img src="/Assets/images/theone_logo.png" alt="one" width="155" height="40">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <% if (title == "Home") { %>
      <li class="nav-item active">
        <% } else  { %>
      <li class="nav-item">
        <% } %>
        <a class="nav-link" href="/"> Home </a>
      </li>
      <% if (title == "Products") { %>
      <li class="nav-item active">
        <% } else  { %>
      <li class="nav-item">
        <% } %>
        <a class="nav-link" href="/store-list"> Products </a>
      </li>

      <% if(typeof displayName == 'string' && displayName) { %>
        <li class="navbar-text"><i class="fas fa-lg fa-user"></i> Welcome, <%= displayName %></li>
        <li class="nav-item"><a href="/logout" class="btn btn-outline-danger me-2">
           Logout</a></li>
      <% } else { %>
        <li class="nav-item"><a href="/login" class="btn btn-outline-success me-2">
           Login</a></li>
      <% } %>
    
  </div>

</nav>