<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container py-4 mb-5 text-center">
  <h1 class="title">About Us</h1>
  <div class="row py-4">
    <div class="col-md-4">
      <img src="Assets/images/people.jpeg" class="img-fluid" alt="People">
    </div>
    <div class="col-md-8 text-start bg-light">
      <p class="text-center fs-5 py-3">At TheOne, we strive to solve the largest problem with cutting-edge technology. </p>
      <p class="text-center fs-5 py-3">Every company must understand what apps to create, how to make money off of their offerings, and how much to charge.
        Brands must pinpoint their target audiences in order to allocate resources most efficiently and reach them.
        Investors need to know which apps and model businesses are expanding the quickest. </p>
      <p class="text-center fs-5 py-3">We aim to connect stores and products around the world. </p>
    </div>
  </div>
</main>

<%- include partials/footer.ejs %>