<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container py-5">

  <!-- We need a jumbotron or heroes here -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold"><%= title %></h1>
      <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron</p>
      <a class="btn btn-primary btn-lg" href="/store-list">Products</a>
    </div>
  </div>

</main>

<%- include partials/footer.ejs %>