<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

<main class="container py-5">

  <!-- We need a jumbotron or heroes here -->
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">One Store</h1>
      <p class="col-md-8 fs-4">Welcome!. With around 1000 brands to choose, we are sure there is something that suit your style. Come and see!!</p>
      <a class="btn btn-primary btn-lg" href="/store-list">See Stores...</a>
    </div>
  </div>

</main>

<%- include partials/footer.ejs %>