<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/Content/style.css' />
  </head>
  <body>
    <!-- We need a jumbotron or heroes here -->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
