body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main .title {
  font-weight: bold;
}

.main {
  border-bottom: 1px solid rgb(204, 204, 204);
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.nav-item:hover{
  background-color: rgb(233, 233, 233);
  color: #0c0c0c;
  border-radius: 15px;
}
.nav-bar .nav-item.display-auth:hover{
  background-color: inherit;
}
.nav-item{
  margin-left: 1rem;
}
.active .nav-link{
  background-color: rgb(233, 233, 233);
  color: #0c0c0c;
  border-radius: 15px;
}

footer nav p {
  color: rgb(255, 255, 255, 0.55);
}

.width-sm {
  width: 35em;
}

.center {
  text-align: -webkit-center;
}

/* Login */

.container.login {
  text-align: -webkit-center;
}

.login {
  width: 35em;
}

.login form {
  border: solid #dee2e6;
  padding: 25px 25px;
}

/* Home */

/* Stores */
.store-card{
  margin-right: 3rem;
  transition: all ease-in-out .4s;
}
.store-card:hover{
  scale: 1.05;  
}