<!-- This page will show the products of store -->
<%- include ../partials/header.ejs %>
<%- include ../partials/main_nav.ejs %>

<main class="container p-4">
  <h1 class="text-center"><%= title %> </h1>
</main>

<%- include ../partials/footer.ejs %>